# Advance Data Types

## 1. List

In [1]:
# Creating a list
L = [10, 20, 30, 40]
print(L)
print(type(L))

[10, 20, 30, 40]
<class 'list'>

In [2]:
# Access item
print(L[0])
print(L[3])

# List slice
print(L[:2])
print(L[::-1])
print(L[::2])

10
40
[10, 20]
[40, 30, 20, 10]
[10, 30]

In [3]:
# Add item
L.append(50)
print(L)

[10, 20, 30, 40, 50]

In [4]:
# Remove Item
L.remove(10)
print(L)

[20, 30, 40, 50]

#### List Comprehenson

In [5]:
[i for i in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
# with if statement
[i for i in range(1, 11) if i%2==0]

[2, 4, 6, 8, 10]

## 2. Tuple

In [7]:
# Creating a tuple
T = (1, 2, 3, 4, 5)
print(T)
print(type(T))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [8]:
# Access items
print(T[0])
print(T[3])

1
4

In [9]:
# Delete tuple
del T
print(T)

NameError: name 'T' is not defined

## 3. Set

In [10]:
# Creating a set
s = {10, 20, 'Mango', True, 23.90}
print(s)
print(type(s))

# Creating set from a list
s = set([10, 20, 30, 40])
print(s)
print(type(s))

{True, 20, 23.9, 10, 'Mango'}
<class 'set'>
{40, 10, 20, 30}
<class 'set'>

In [11]:
# Add/Update item
s.add('Python')
print(s)

# Update items
s.update({1, 2, 3})
print(s)

{40, 10, 'Python', 20, 30}
{1, 2, 3, 40, 10, 'Python', 20, 30}

In [12]:
# copy set
ss = s.copy()
print(ss)

{1, 2, 3, 40, 10, 'Python', 20, 30}

In [13]:
# Remove item

# Remove item by name
s.discard(1)
print(s)

# Remove any random item 
s.pop()
print(s)

# Remove all item
s.clear()
print(s)

# Delete set
del s
print(s)

{2, 3, 40, 10, 'Python', 20, 30}
{3, 40, 10, 'Python', 20, 30}
set()

NameError: name 's' is not defined

In [14]:
s1 = {1, 2, 3, 200, 4, 5, 100}
s2 = {100, 200, 300, 400, 5}
s3 = {100, 200}
s4 = {100, 200, 300, 400, 5, 7, 6, 9}

print('difference: ', s1.difference(s2))
print('difference: ', s2.difference(s1))

print('intersection: ', s1.intersection(s2))
print('union: ', s1.union(s2))

print(s1.isdisjoint(s2))

print(s1.issubset(s2))
print(s3.issubset(s1))

print(s1.issuperset(s2))
print(s4.issuperset(s2))

difference:  {1, 2, 3, 4}
difference:  {400, 300}
intersection:  {200, 100, 5}
union:  {1, 2, 3, 4, 5, 100, 200, 300, 400}
False
False
True
False
True

## 4. Dictionary

In [15]:
# Creating a dictionary
D = {'name': 'John Doe', 'city': 'Bengaluru', 'age': 30, 'is_married': False}

print(type(D))

<class 'dict'>

In [16]:
# Access item by key
print(D['name'])

# Access item by get() method
print(D.get('city'))

John Doe
Bengaluru

In [17]:
# Get keys
print('Key: ', D.keys())

# Get values
print('Values: ', D.values())

# Get items
print('Items: ', D.items())

Key:  dict_keys(['name', 'city', 'age', 'is_married'])
Values:  dict_values(['John Doe', 'Bengaluru', 30, False])
Items:  dict_items([('name', 'John Doe'), ('city', 'Bengaluru'), ('age', 30), ('is_married', False)])

In [18]:
# Add/Update Item

# update item
D['age'] = 28
print(D)

# add items
D.update({'1': 100, '2': 200})
print(D)

{'name': 'John Doe', 'city': 'Bengaluru', 'age': 28, 'is_married': False}
{'name': 'John Doe', 'city': 'Bengaluru', 'age': 28, 'is_married': False, '1': 100, '2': 200}

In [19]:
# Remove Item

# Remove using key
D.pop('is_married')
print(D)

del D['1'] 
print(D)

# Remove last inserted item
D.popitem()
print(D)

# Remove all key-values
D.clear()
print(D)

{'name': 'John Doe', 'city': 'Bengaluru', 'age': 28, '1': 100, '2': 200}
{'name': 'John Doe', 'city': 'Bengaluru', 'age': 28, '2': 200}
{'name': 'John Doe', 'city': 'Bengaluru', 'age': 28}
{}